.header {
background-color: violet;
padding: 0.5%;
position: fixed;
z-index: 1;
width: 1410px;
}
.main {

}
.header-logo {
     position: absolute; /* Fixes the logo in place when scrolling */
    top: 15px;
    left: 15px;
    background-color: violet;
    

}
img {
    width: 200px;
    height: auto;
}
.header-top-menu {
    list-style: none;
    height: 75px;
    background-color: transparent;
    padding: 0;
    margin: 0 auto; /* Centers the menu horizontally */
    width: 100% auto; /* Makes the width based on the content */
    display: flex; /* Align items horizontally */
    margin-left: 250px;


}
.header-top-menu li {
            margin-top: 15px;
            margin-left: 50px;
            width: 25px;
            text-align: center;
            font-size: 22;

            
        }
.header-cta {
    margin-left: 300px;
    font-size: 22;

}

sign-up-botton {
}
.body {
    
}
.content {

padding:100pxv 20px;
padding-top: 5%;
background-image: url('hero.jpg'); /* Path to the image */
background-size: 100% auto; /* Makes sure the image covers the full width and height */
background-position: left; /* Left the image */
background-repeat: no-repeat; /* Prevents the image from repeating */
z-index: 2;
}
.hero-section {

}
.hero-overlay {

}
.hero-content {
margin-top: 50px;
height: 100%; /* Ensure the body takes the full height */
width:100%;

}
.hero-title {
margin-top: 50px;
rgba(100,100,255,0.5);
font-family: 'Arial', sans-serif;
font-size: 52px;
color: white;
width: 60%;
position:absolute;

}

.hero-text {
left:0.5%;
top:50%;
list-style: none;
background-color: purple;
padding-top: 25;
padding-left: 200;
padding-bottom: 25;
margin: 0 0; /* Centers the menu horizontally */
max-width: 700px;
text-wrap: 50%;
font:60px;
position:absolute;
font-size: 25px;
color: white;
}
.hero-text span {
    color: red;
}
.programs-section {

}
.highlight {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
}
.programs {

}
.program {

}
.footer {

}