body
{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.p1 {
  font-family: Verdana, sans serif, Calibri system-ui;
  font-size: 16px; 
  line-height: 1.5;
}

.p2 {
  font-family: Verdana, sans serif, Calibri system-ui;
  font-size: 16px; 
  line-height: 1.5;
}

hr{
  border-top: 1px solid rgb(235, 234, 244);
}

/* This applies to the V2 html */


.parent-container{
  background-color: rgb(203, 203, 23);
  
}

