body
{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.p2 {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 16px;
}

#font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
#font-size: 16px;