* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins';
}

body {
    line-height: 24px;
}

/* Nav-bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    padding: 16px 32px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.header-logo img {
  height: 70px;
}

.header-top-menu {
    display: flex;
    list-style: none;
}

 .header-top-menu li{
    margin: 0 15px;
}

.header-top-menu a {
    color:  #444;
    text-decoration: none;
    font-family: 'Poppins'; 
    font-weight: bold;
}

.header-top-menu li:first-child {
    text-transform: uppercase;
}

.header-cta .sign-up-button {
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none; 
    font-weight: 500; 
    font-family: 'Poppins'; 
}

.header-cta .sign-up-button:hover {
   background-color: rgb(251, 148, 44);
   transition-duration: 0.5s;
}

/* Hero section */
.hero-section {
    background-size: cover;
    background-position: relative; 
    background-repeat: no-repeat;
    background: linear-gradient(
      rgba(0, 0, 0, 0.239), 
      rgba(0, 0, 0, 0.239)), 
      url("hero.jpg") center;  
    height: 724px; 
    color: white;
}

.hero-content {
    padding-top: 200px;
    /* position: relative; */
    /* padding-top: 180px; */
    padding-right: 20px;
    text-align: left;
}

.hero-title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-title .highlight{
    font-style: normal;
    background-image: linear-gradient(rgb(255, 128, 0), rgb(255, 128, 0));
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 7px;
    padding-bottom: 0;

}

.hero-text {
    background: rgb(43, 60, 146);
    padding: 50px;
    left: 60px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.hero-text span {
    color: rgb(255, 128, 0);
    font-weight: bold;
}

/* Programs section */
.programs {
   display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 20px; 
}

.programs-section {
    padding: 160px;
    margin-left: 70px;
    font-size: 25px; 
    color: #444;
}

.programs-section h2 {
    font-weight: 900;
    margin-bottom: 70px;
}

.programs-section h2 .highlight{
    font-style: normal;
}

/* .programs-section h2 em {
    font-style: normal;
    position: relative;
}

.programs-section h2 .highlight {
    position: relative;
}

.programs-section h2 .highlight::after {
    content: '';
    display: block;
    width: 103%;
    height: 7px;
    background-color: rgb(255, 119, 0);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
} */

.programs-section li {
    list-style: none;
}

.programs li h3 {
    margin-bottom: 40px;
    font-size: 22px;
}

.programs li p {
    font-weight: lighter;
    font-family: 'Poppins'; 
    color: #676767;
    font-size: small;
    font-weight: 400;
}


@media (max-width: 1070px) {
    .programs {
      grid-template-columns: 1fr;
   }
}

/* Footer */
footer {
   color: #444;
   font-family: 'Poppins'; 
   text-align: center;
   font-size: 13px;
   padding: 50px;
   margin-bottom: 10px;
}

