* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins';
}

body {
    line-height: 24px;
}

/* Nav-bar */
.header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    padding: 16px 32px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 10;
}

.header-logo img {
  height: 70px;
}

.header-top-menu {
    display: flex;
    list-style: none;
}

 .header-top-menu li{
    margin: 0 15px;
}

.header-top-menu li:first-child {
    text-decoration: underline;
    text-decoration-color: #f47d26;
    text-underline-offset: 8px;
}

.header-top-menu a {
    color:  #444;
    text-decoration: none;
    font-family: 'Poppins'; 
    font-weight: bold;
}

.header-top-menu li:first-child {
    text-transform: uppercase;
}

.header-cta .sign-up-button {
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none; 
    font-weight: 500; 
    font-family: 'Poppins'; 
}

.header-cta .sign-up-button:hover {
   background-color: rgb(251, 148, 44);
   transition-duration: 0.5s;
}

/* Hero section */

.hero-section {
    display: flex;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.239), 
        rgba(0, 0, 0, 0.239)
    ), 
    url("hero.jpg");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    height: 724px; 
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 10%;
    z-index: 0;   
    background-position-y: 90px; 
}


.hero-content {
    padding-top: 200px;
    padding-right: 250px;
    text-align: left;
    line-height: 5px;
}

.hero-title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-title .highlight{
    font-style: normal;
}

.hero-text {
    background: rgb(43, 60, 146);
    padding: 50px;
    left: 60px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.hero-text span {
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.highlight {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  text-decoration-color: #f47d26;
  text-decoration-thickness: 10px;
  text-underline-offset: -5px;
}

/* Programs section */
.programs {
   display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 20px; 
}

.programs-section {
    padding: 160px;
    font-size: 25px; 
    color: #444;
}

.programs-section h2 {
    font-weight: 900;
    margin-bottom: 70px;
}

.programs-section h2 .highlight{
    font-style: normal;
}

.programs-section li {
    list-style: none;
}

.programs li h3 {
    margin-bottom: 40px;
    font-size: 22px;
}

.programs li p {
    font-weight: lighter;
    font-family: 'Poppins'; 
    color: #676767;
    font-size: small;
    font-weight: 400;
}


@media (max-width: 1070px) {
    .programs {
      grid-template-columns: 1fr;
   }

   .programs-section {
    margin-left: 0;
    padding: 50px;
    margin-top: 50px;
   }

   .programs-section h2 {
    font-weight: 900;
    margin-bottom: 25px;
    font-size: 25px;
}

.programs li h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.hero-content {
    padding-top: 200px;
    padding-right: 0;
    text-align: left;
    line-height: 5px;
}

.hero-text {
    padding: 15px;
    left: 0;
}

.header-top-menu {
    display: none;
}

.header-cta {
    margin-left: auto;
}
}

/* Footer */
footer {
   color: #444;
   font-family: 'Poppins'; 
   text-align: center;
   font-size: 13px;
   padding: 50px;
   margin-bottom: 10px;
}

