body{
    margin: 0;
}
body > header > ul > li:nth-child(1) > a, body > header > ul > li:nth-child(2) > a, body > header > ul > li:nth-child(3) > a, body > header > div.header-cta > a{
    text-decoration: none;
    color: #3c3c3c;
}
img{
height: 75px;
width: auto;
margin-top: 28px;
margin-right: 37px;
}
.header{
    padding-left: 28px;
    padding-right: 28px;
    text-decoration: none;
}
.header-top-menu{
    margin-top: 28px;
    padding: 0;
    margin-left: 336px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    position: relative;
    top: -60px;
    font-family: Poppins; 
    font-weight: 600;
    color: #3c3c3c;
    text-decoration: none;
}
.header-cta{
    font-family: Poppins;
    font-weight: 600;
}
li{
    list-style: none;
}
p{
    font-family: Poppins; 
    font-size: 18px;
}
.highlight{
    position: relative;
    display:inline-block;
    font-style: normal;
    z-index: 2;
}
body > div > div > article > section.hero-section > div.hero-content > h2 > em::after{
    content: '';
    left: 0;
    position:absolute;
    bottom: 5px;
    width: 100%;
    height: 15px;
    background-color: #f47d26; 
    z-index: -1;
}
body > div > div > article > section.programs-section > h2 > em::after{
    content: '';
    left: 0;
    position:absolute;
    bottom: 4px;
    width: 100%;
    height: 9px;
    background-color: #f47d26; 
    z-index: -1;
}
body > div > div > article > section.programs-section > h2{
    font-weight: 900;
    color: #444;
    font-size: 34px;
    margin-left: 110px;
}
span{
    color: #f47d26;
    font-weight: 600;
}
.hero-text{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    color: white;
    width: auto;
    margin-right: 500px;
    background-color: #243e90;
    padding-left: 150px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 70px;
}
.hero-title{
    font-size: 54px;
    font-weight: 800;
    color: white;
    width: 800px;
}
.hero-content{
    background-image: url('hero.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;

}
h1, h2, h3{
    font-family: Montserrat;
}

body > header > div.header-cta > a{
    float: right;
    position: relative;
    bottom: 102px;
    display: flex;
    margin-right: 150px;
}
body > div > div > article > section.programs-section > ul > li:nth-child(1){
    width: 609px;
}
body > div > div > article > section.programs-section > ul > li:nth-child(2){
    width: 609px;
    margin-left: auto;
    position: relative;
    top: -168px;
}
body > div > div > article > section.programs-section > ul > li:nth-child(3){
    width: 609px;
    margin: 0;
}
body > div > div > article > section.programs-section > ul > li:nth-child(4){
    width: 609px;
    position: relative;
    top: -141px;
    margin-left: auto;
}
.footer{
    text-align: center;
}