NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=Your Next Public Clerk Publishable Key here
CLERK_SECRET_KEY=Your Clerk Secret Key here
DB_TYPE=postgres
NEXT_PUBLIC_API_URL=http://localhost:3000
DATABASE_URL=Your Postgres connection pooling database URL
DIRECT_URL=Your Postgres direct database URL