body {
      line-height: 1.5;
      color: #333;
      background-color: #ffffff;
      font-family: Poppins, 'Open Sans', sans-serif;
      margin: 10;
      padding: 10;
      overflow-x: hidden;
   }

   em {
     font-style: normal;
   }

   /* Header styles */
   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      background-color: #ffffff;
      color: black;
      position: sticky;
      z-index: 1000;
      top: 0;
   }

   .header-top-menu a:hover {
      color: #f47d26;
      transition: color 0.3s ease;
      font-weight: 600;
   }

   .header-logo img {
      max-width: 200px;
      margin-bottom: 20px;
      padding-top: 10px;
   }

   .header-top-menu {
      list-style: none;
      display: flex;
      margin: relative;
      align-items: left;
   }

   .header-top-menu li a {
    color: #000000;
      margin: 0 15px;
      text-decoration: none;
   }

   .header-top-menu li::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #f47d26;
      transform: scaleX(0);
      transition: transform 0.3s ease;
   }

   .header-top-menu li:hover::after {
     transform: scaleX(1);
   }

   .header-cta .sign-up-button {
       background-color: #f47d26; 
       color: #fff;
       padding: 10px 20px;
       text-decoration: none;
       border-radius: 5px;
       font-weight: bold;
   }

   .hero-section {
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       background-image: url('hero.jpg');
       height: 600px;
       display: flex;
       align-items: center;
       justify-content: left;
       color: white;
       text-align: center;
   }

   .hero-overlay {
     background-color: rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));

   }

   .hero-content {
       z-index: 2;
       max-width: 90%;
       text-align: center;
   }

   .hero-title {
       font-size: 285%;
       font-weight: bold;
       margin-bottom: 10px;
       text-align: left;
       padding-left: 20px;
       max-width: 80%;
   }

   .hero-text {
     align-content: center;
     box-sizing: border-box;
     padding: 20px;
     text-align: left;
     background-color: #243d8f;
     font-size: .9rem;
     max-width: 75%;

   }

   .hero-text span {
     font-weight: 600;
     color: #f47d26;
   }

   .highlight {
     text-decoration-skip-ink: none;
     text-decoration: underline;
     text-decoration-color: #f47d26;
     text-decoration-thickness: 10px;
     text-underline-offset: -5px;
   }

   .programs-section {
     padding: 40px 20px;
     text-align: center;
   }

   .programs-section h2 {
     margin-bottom: 30px;
     font-size: 2rem;
   }

   .programs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
   }

   .program {
     padding: 20px;
     background-color: #ffffff;
     border-radius: 10px;
     text-align: left;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s, box-shadow 0.3s ease; 
   }

    .program:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

   .program h3 {
     margin-bottom: 10px;
     font-size: 1.5rem;
   }

  @media (max-width: 768px){
     .header {
       flex-direction: column;
       align-items: flex-start;
     }
     .header-top-menu {
       flex-direction: column;
       margin-top: 10px;
     }

     .header-top-menu li {
       margin: 5px 0;
     }

     .hero-title {
       font-size: 1.5rem;
     }

     .hero-text {
       font-size: 1rem;
     }

     .program h3 {
       font-size: 1.2rem;
     }
     .programs {
        grid-template-columns: 1fr;
      }
  }

  .footer {
      background-color: #243d8f;
      color: white;
      padding: 20px;
      text-align: center;
  } 