NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=Your Next Public Clerk Publishable Key here
CLERK_SECRET_KEY=Your Clerk Secret Key here
DB_TYPE=redis
KV_REST_API_TOKEN=Your Redis api token here
KV_REST_API_URL=Your Redis database URL