name: Check Lesson 07 Pull Request

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "lesson_07/conditionals/**"

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Build Shared Lib with Node.js
      working-directory: ./lib/javascript/codedifferently-instructional
      run: npm ci

    - name: Build Lesson 07 with Node.js
      working-directory: ./lesson_07/conditionals
      run: |
        npm ci
        npm run check