name: Check Lesson 14 Java Pull Request

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "lesson_14/exceptions/**"

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build Lesson 13 with Java
      working-directory: ./lesson_14/exceptions
      run: ./gradlew check
