name: Check Lesson 09 Pull Request

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "lesson_09/types/**"

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build Lesson 09 with Gradle
      working-directory: ./lesson_09/types
      run: ./gradlew check